body{
    background-color: #FFE69E;
    font-family: Verdana, sans-serif;
}
.nav{
    background-color: #FFE69E;
}
.nav a{
    display: block;
    text-align: center;
}
.nav a:hover{
    color: grey;
}
section{
    word-wrap: normal;
    padding-left: 25%;
    padding-right: 25%;
    height: auto;
    text-align: center;
    padding-top: 20px;
}
header{
    text-align: center;
    font-size: 40px;
}