.mery {
    color: black;
    width: auto;
    text-align: center;
    font-size: 300%;

}
.kontakt {
    border: none;
    background-color: aquamarine;
    color: red;
    width: auto;
    font-size: 200%;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: left;
    

}
.kontakt:hover {
    color: blue;
}
.przedmioty {
    border: none;
    background-color: aquamarine;
    color: red;
    width: auto;
    font-size: 200%;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: auto;
}
.przedmioty:hover {
    color: blue;
}
  