.table_1 {
    border: none;
    border-color: aqua;
    background-color: aqua;
    text-align: center;
}
.table_2 {
    border: none;
    border-color: aquamarine;
    background-color: aquamarine;
    text-align: center;
}