body {
    background-color: blanchedalmond;
}
.mery {
    color: black;
    width: auto;
    text-align: center;
    font-size: 300%;
    background-color: aquamarine;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px

}
.kontakt {
    border: none;
    background-color: aqua;
    color: red;
    font-size: 200%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.kontakt:hover {
    color: blue;
}
.przedmioty {
    border: none;
    background-color: aqua;
    color: red;
    font-size: 200%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.przedmioty:hover {
    color: blue;
}
.nowości {
    border: none;
    background-color: aqua;
    color: red;
    font-size: 200%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.nowości:hover {
    color: blue;
}
.tekst {
    text-align: center;
    padding-top: 30px;
}
.buttons {
    background-color: aqua;
    margin-left: -8px;
    margin-right: -8px;
}
.button_1 {

    text-decoration:none;
    padding-left: 10%;
    text-align: left;
}
.button_2 {

    text-decoration:none;
    margin-right: 10%;
    text-align: right;
}

  