body {
    background-color: blanchedalmond;
}
.mery {
    color: black;
    width: auto;
    text-align: center;
    font-size: 300%;
    background-color: aquamarine;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px

}
.kontakt {
    border: none;
    background-color: #292b2a;
    color: white;
    font-size: 200%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.kontakt:hover {
    color: #4f4d4d;
}
.przedmioty {
    border: none;
    background-color: #292b2a;
    color: #4f4d4d;
    font-size: 200%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.przedmioty:hover {
    color: #4f4d4d;
}
.nowości {
    border: none;
    background-color: #292b2a;
    color: white;
    font-size: 200%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.nowości:hover {
    color: #4f4d4d;
}
.tekst {
    text-align: center;
    padding-top: 30px;
}
.buttons {
    background-color: #292b2a;
    margin-left: -8px;
    margin-right: -8px;
}
th {
    text-align: center;
    width: 1%;
}

  