body {
    background-color: blanchedalmond;
}
.mery {
    color: white;
    width: auto;
    text-align: center;
    font-size: 400%;
    background-color: #636262;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 10px;
    padding-top: 10px;

}
.nowości {
    border: none;
    background-color: #292b2a;
    color: white;
    font-size: 200%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.nowości:hover {
    color: #4f4d4d;
}
.przedmioty {
    border: none;
    background-color: #292b2a;
    color: #4f4d4d;
    font-size: 200%;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    display: inline-block;

}
.kontakt {
    border: none;
    background-color: #292b2a;
    color: white;
    font-size: 200%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.kontakt:hover {
    color: #4f4d4d;
}
.tekst {
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
}
.buttons {
    background-color: #292b2a;
    margin-left: -8px;
    margin-right: -8px;
}
a {
    text-decoration:none;
}
th {
    text-align: center;
    width: 1%;
}
.button_1 {
    background-color: #292b2a;
    color: white;
    border: none;
    width: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.button_1:hover{
    color: #4f4d4d;
    transition-duration: 0.4s;
    cursor: pointer;
}
table {
    table-layout: fixed;
    width: 100%;
}
.button_2 {
    background-color: #292b2a;
    color: #4f4d4d;
    border: none;
    width: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.OnSale img {
    width: 75%;
    height: auto;
}
.OnSale table {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
}
.OnSale p {
    margin-left: 40px;
    word-break: break-all;
    width: 75%;
    text-align: center;
}


  